@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*
- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

*/

* {
    margin: 0%;
    padding: 0%;
}


:root {
    --vdb: hsl(235, 21%, 11%);
    --vddb: hsl(235, 24%, 19%);
    --lgb: hsl(234, 39%, 85%);
    --lgb_h: hsl(236, 33%, 92%);
    --dgb: hsl(234, 11%, 52%);
    --vdgb: hsl(233, 14%, 35%);
    --vdgb2: hsl(237, 14%, 26%);
    --bb: hsl(220, 98%, 61%);
    --font: "Josefin Sans", sans-serif;

}

body {
    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--vdb);
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--lgb);
    font-family: var(--font);
    width: 60%;

    padding: 2% 10%;
}

h1 {
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
}

input {
    border: none;
    padding: 17px 5%;
    border-radius: 5px;
    background-color: var(--vddb);
    font-family: var(--font);
    outline: none;
    color: var(--lgb);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

svg {
    cursor: pointer;
}

.taskTodo {
    background-color: var(--vddb);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--lgb);
    font-family: var(--font);
    width: 60%;
}

li {
    list-style-type: none;
    text-align: start;
    padding-bottom: 5%;
    border-style: none none solid none;
    border-width: 1.5px;
    border-color: var(--vdgb2);
}

li:checked {
    text-decoration: line-through;
}

.filter {
    display: flex;
    justify-content: space-between;
    color: var(--vdgb);
    padding: 10px 15px;
    font-family: var(--font);
    cursor: pointer;
    font-size: 12px;

}

.buttom:hover {
    font-weight: 700;
    color: var(--bb);
}

.absolute {
    position: absolute;
    width: 100%;
}


input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 1px solid var(--vdgb2);
    cursor: pointer;
    border-radius: 50%;
    transform: scale(60%) translateY(60%);
    padding: 0%;
    margin: 0%;

    box-shadow: none;
}

input[type="checkbox"]:checked {
    background: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2215%22 height=%2213%22%3E%3Cpath fill=%22none%22 stroke=%22%23FFF%22 stroke-width=%222%22 d=%22M1 6.956L5.087 11 13 3%22/%3E%3C/svg%3E'), linear-gradient(135deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center center;
}

li.completed {
    text-decoration: line-through;
    color: var(--vdgb);
}

.clear:hover {
    font-weight: 700;
    color: var(--bb); 
}